---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const websites = await getCollection('websites');
  return websites.map((website: CollectionEntry<'websites'>) => {
    return {
      params: { slug: website.slug },
      props: { website }, // Pass the entire website object
    };
  });
}

interface Props {
  website: CollectionEntry<'websites'>;
}

const { website } : Props = Astro.props;
const { Content } = await website.render();
---

<Layout title={website.data.title}>
  <section class="p-4 border rounded-lg">
    <h1>{website.data.title}</h1>
    <a href={website.data.url} target="_blank" rel="noopener noreferrer">
      Visit Website
    </a>
    <p>{website.data.description}</p>
    <p>Tags: {website.data.tags.join(', ')}</p>
    <Content />
  </section>
</Layout>