---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from 'astro:content';
import WebsiteItem from "@/components/WebsiteItem.astro";
import { Image } from "astro:assets";
import background from "@/assets/background.svg";
import { ModeToggle } from "@/components/ModeToggle";

const websites = await getCollection('websites');
---

<Layout title="No Mouse">
  <div
    class="absolute inset-0 z-0 overflow-hidden"
    style=`background-image: url(${background.src});`
  >
    <Image
      src={background}
      alt=""
      class="absolute top-1/2 left-1/2 h-full max-h-[150vh] w-full -translate-x-1/2 -translate-y-1/2 object-cover object-center opacity-10"
    />
  </div>
  <div
    class="relative z-10 mx-auto flex min-h-screen flex-col items-center justify-between gap-8 py-24"
  >
    <ModeToggle client:visible />
    <div class="text-center">
      <h1 class="text-center text-8xl font-black">No Mouse</h1>
      <p>Navigate, operate, and master your digital world, mouse-free.</p>
    </div>

      {websites.map((website) => (
        <WebsiteItem website={website} />
      ))}

  </div>
</Layout>

<style>
  .website-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
